.flexSec {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.boxTop input {
  margin: .5rem;
  height: 2rem;
  width: 11rem;
  border-radius: 0.7rem;
}

.boxTop input::placeholder {
  padding: .5rem;
}

.boxBttm {
  margin: .5rem;
  height: 5rem;
  width: 23rem;
  border-radius: 0.7rem;
}

.boxBttm::placeholder {
  padding: .5rem;
}

.boxBttns button {
  margin: .5rem;
  height: 2rem;
  width: 11rem;
  border-radius: 0.7rem;
}