p {
  font-size: 1.5rem;
}

.introP {
  margin: 7%;
  font-size: 1.5rem;
}

.flex {
  display: flex;
  justify-content: center;
}

.skillSecSec {
  margin: 1rem 2rem;
}

.skillSec {
  display: flex;
  margin: 1.7rem;
  justify-content: left;
}

.skillSec p {
  margin: 0 0.5rem;
}